SC.YesmailAdapter/Generated/YesMail/subscribeandsend.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema targetNamespace="https://services.yesmail.com"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:jaxb="http://java.sun.com/xml/ns/jaxb"
           xmlns="https://services.yesmail.com"
           elementFormDefault="qualified"
           jaxb:version="2.0"
           version="1.0">
    <xs:include schemaLocation="subscriber.xsd"/>
    <xs:include schemaLocation="subscribermessage.xsd"/>
    <xs:include schemaLocation="sidetable.xsd"/>

    <xs:element name="subscribeAndSend" nillable="false">
        <xs:complexType>
            <xs:all maxOccurs="1" >
                <xs:element name="subscriber" type="subscriberBase" 
                            minOccurs="1" />
                <xs:element name="sideTable" type="sideTable" minOccurs="0" />
                <xs:element name="subscriberMessage" type="subscriberMessage" 
                            minOccurs="1" />
            </xs:all>
            <xs:attribute name="schemaVersion" type="xs:decimal" />
        </xs:complexType>
    </xs:element>
</xs:schema>
