SC.YesmailAdapter/Generated/YesMail/subscribermessage.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="https://services.yesmail.com"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:jaxb="http://java.sun.com/xml/ns/jaxb"
           xmlns="https://services.yesmail.com"
           elementFormDefault="qualified"
           jaxb:version="2.0"
           version="1.0">
    <xs:include schemaLocation="attributes.xsd"/>

    <xs:complexType name="subscriberMessage">
        <xs:all>
            <xs:element name="masterId" id="masterId" type="xs:int" 
                        minOccurs="1" maxOccurs="1"/>
            <xs:element name="attributes" type="attributes" 
                        minOccurs="0" maxOccurs="1"/>
        </xs:all>
        <xs:attribute name="schemaVersion" type="xs:decimal" />
    </xs:complexType>
    
    <xs:element name="subscriberMessage" type="subscriberMessage" nillable="false" />
</xs:schema>
